name: Continuous Integration & Deployment

on:
  push:
    branches:
      - main

jobs:
  ci-cd:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "23.x"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint --workspaces --if-present
